html,body{
  height: 100%;
  background: #444444; /* Old browsers */
  z-index: 0;
  position:absolute;
  width: 1800px;
  overflow: auto;


}

nav{
  background: #000; /* Old browsers */
  position:fixed;
  height: 50px;
  z-index: 1;
  width: 100%;
  clear:both;

}

#float{
  position:absolute;
  width: 1800px;
  height: 100%;
}

.rectR{
  position:relative;
  background-color: red;
  width: 200px;
  height:100%;
  float:left;
  display:block;  

}

.rectG{
  position:relative;
  background-color: green;
  width: 200px;
  height:100%;
  float:left;
  display:block;  

}
