html,body{
  height: 100%;
  background: #000; /* Old browsers */
  z-index: 0;
  position:absolute;
  /* Este valor tem que ser dado dianmicamente pelo javascript - width dos divs rects * 9(numero de divs rect)  */
  width: 1800px;
}

header{
  z-index: 2;
  position:fixed;
  height: 50px;
  text-transform:uppercase;

}

header a{
    position: relative;
    top:20px;
    left:20px;
    font-size: 12px;
    margin-right: 60px;
}

nav{
  background-color: rgba(0, 0, 0, 0.8);
  position:fixed;
  height: 50px;
  z-index: 1;
  width: 100%;
  clear:both;
  box-shadow: 0px 4px 8px #000;
  text-align: center;
}

nav a{
  position: relative;
    top:15px;
    font-size: 20px;
    margin-right: 60px;

}
a:visited,a:link{
  color:white;
  text-decoration: none;
}

a:link:hover,a:visited:hover{
  color:red;
  text-decoration: none;
}


#float{
  position:absolute;
  height: 100%;
}

.rect{
  position:relative;
  width: 300px;
  height:100%;
  float:left;
  display:block;
  opacity: 0.5;  
}

h3.titulo{
  position: relative;
  top:35px;
  right:48px;
  color: rgba(220, 220, 220, 0.3);
  float:right;
  font-size: 100px;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 0px;

}

p.descricao{
  position: relative;
  top:60%;
  right:0%;
  max-width:65%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  float:left;
  font-size: 24px;
  line-height:110%;
  padding: 10px 10px;
  padding-left: 40px;
  box-shadow: 2px 2px 10px #000;

}
